@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Nunito:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@400;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}

/* =========== Variable css ============= */
:root {
  --ggreen: #27ae60;
  --bblack: #192a56;
  --llight-color: #666;
  --wwhite: #fff;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.4);
}

/*  =========== Reuseable css ========= */
img {
  width: 100%;
}

section {
  padding: 2rem 5rem;
}

section:nth-child(even) {
  background: #eee;
}

.sub-heading {
  text-align: center;
  color: var(--ggreen);
  font-size: 2rem;
  padding-top: 1rem;
}

.heading {
  text-align: center;
  color: var(--bblack);
  font-size: 3rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.7rem;
  color: var(--wwhite);
  background: var(--bblack);
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 1rem 3rem;
}

.btn:hover {
  background: var(--ggreen);
  /* letter-spacing: .1rem; */
  transform: translate(0, -3px);
}

/* Header css starts =============== */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--wwhite);
  padding: 1rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  box-shadow: var(--box-shadow);
}

header .logo {
  color: var(--bblack);
  font-size: 2.5rem;
  font-weight: bolder;
}

header .logo i {
  color: var(--ggreen);
}

header .navbar a {
  font-size: 1.7rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  color: var(--llight-color);
}

header .navbar a.active,
header .navbar a:hover {
  color: var(--wwhite);
  background-color: var(--ggreen);
}

header .icons i,
header .icons a {
  cursor: pointer;
  margin-left: 0.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  width: 4.5rem;
  text-align: center;
  font-size: 1.7rem;
  color: var(--bblack);
  border-radius: 50%;
  background: #eee;
}

header .icons i:hover,
header .icons a:hover {
  color: var(--wwhite);
  background: var(--ggreen);
  transform: rotate(360deg);
  transition: all 0.3s linear;
}

header .icons #menu-bars {
  display: none;
}

/* Search box  */
#search-form {
  position: fixed;
  /* top: 0; */
  top: -110%;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1004;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

#search-form.active {
  top: 0;
}

#search-form #search-box {
  width: 50rem;
  border: none;
  border-bottom: 0.1rem solid var(--ggreen);
  padding: 1rem 0;
  color: var(--wwhite);
  font-size: 3rem;
  text-transform: none;
  background: none;
  outline: none;
  caret-color: var(--ggreen);
  color: #eee;
  /* color: var(--ggreen); */
}

#search-form #search-box:hover {
  color: var(--ggreen);
}

#search-form #search-box::placeholder {
  /* color: var(--ggreen); */
  font-weight: 100;
  padding-left: 1rem;
  color: #999; /* placeholder text color */
}

#search-form #search-box::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

#search-form label {
  color: var(--wwhite);
  cursor: pointer;
  font-size: 3rem;
}

#search-form label:hover {
  color: var(--ggreen);
}

/* autocomplete part starts here  */
#search-form #search-box:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 100px var(--bblack) inset !important;
  -webkit-text-fill-color: var(--ggreen);
  background-color: var(
    --bblack
  ) !important; /*  background color of autocomplete dropdown */
}
/* end  */

#search-form #close {
  position: absolute;
  color: var(--wwhite);
  cursor: pointer;
  top: 2rem;
  right: 3rem;
  font-size: 5rem;
}

#search-form #close:hover {
  color: var(--ggreen);
}

/* ========== nav bar ends ======== */

/* ======= home css strts ===========  */

.home .home-slider .slide {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 9rem;
}

.home .home-slider .slide .content {
  flex: 1 1 40rem;
}
.home .home-slider .slide .image {
  flex: 1 1 40rem;
}
.home .home-slider .slide .image img {
  width: 100%;
}
.home .home-slider .slide .content span {
  color: var(--ggreen);
  font-size: 2.5rem;
}
.home .home-slider .slide .content h3 {
  color: var(--bblack);
  font-size: 6.5rem;
}
.home .home-slider .slide .content p {
  color: var(--llight-color);
  font-size: 2.2rem;
  padding: 0.5rem 0;
  line-height: 1.5;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background: var(--ggreen) !important;
}

/* swiper slider css for time loop  */

/* .autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--bblack);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--bblack);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
} */
/* Swiper complete */
/* home section complete */

/* dishes section starts  */
.dishes .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
}

.dishes .box-container .box {
  position: relative;
  padding: 2.5rem;
  background: var(--wwhite);
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: var(--box-shadow);
  overflow: hidden;
  text-align: center;
}
.dishes .box-container .box .fa-heart,
.dishes .box-container .box .fa-eye {
  position: absolute;
  top: 1.5rem;
  background: #eee;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: var(--bblack);
}

.dishes .box-container .box .fa-heart:hover,
.dishes .box-container .box .fa-eye:hover {
  background: var(--ggreen);
  color: var(--wwhite);
}

.dishes .box-container .box .fa-heart {
  right: -15rem;
}
.dishes .box-container .box .fa-eye {
  left: -15rem;
}

.dishes .box-container .box:hover .fa-heart {
  right: 1.5rem;
}
.dishes .box-container .box:hover .fa-eye {
  left: 1.5rem;
}

.dishes .box-container .box img {
  width: auto;
  height: 17rem;
  margin: 1rem 0;
}

.dishes .box-container .box h3 {
  color: var(--bblack);
  font-size: 2.5rem;
}
.dishes .box-container .box .stars {
  padding: 1rem 0;
}
.dishes .box-container .box .stars i {
  font-size: 1.7rem;
  color: var(--ggreen);
}
.dishes .box-container .box span {
  font-weight: bolder;
  color: var(--ggreen);
  margin-right: 1rem;
  font-size: 2.5rem;
  margin-top: auto;
  /* padding: .5rem 7rem; */
}

/* dish section end  */

/* about section starts  */
.about .row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
}

.about .row .image {
  flex: 1 1 45rem;
}
.about .row .image img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 45rem;
}

.about .row .content h3 {
  color: var(--bblack);
  font-size: 4rem;
  padding: 0.5rem 0;
}

.about .row .content p {
  color: var(--llight-color);
  font-size: 1.5rem;
  padding: 0.5rem 0;
  line-height: 2;
}

.about .row .content .icons-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem 0;
  margin-top: 0.5rem;
}

.about .row .content .icons-container .icons {
  background: #eee;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex: 1 1 17rem;
  padding: 1.5rem 1rem;
}

.about .row .content .icons-container .icons i {
  font-size: 2.5rem;
  color: var(--ggreen);
}

.about .row .content .icons-container .icons span {
  font-size: 1.5rem;
  color: var(--bblack);
}
/* about section ends  */

/* ====== menu section starts ========  */
.menu .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
}

.menu .box-container .box {
  background: var(--wwhite);
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
}

.menu .box-container .box .image {
  height: 25rem;
  width: 100%;
  padding: 1.5rem;
  overflow: hidden;
  position: relative;
}

.menu .box-container .box .image img {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
}

.menu .box-container .box .image .fa-heart {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  text-align: center;
  font-size: 2rem;
  background: var(--wwhite);
  border-radius: 50%;
  color: var(--bblack);
}

.menu .box-container .box .image .fa-heart:hover {
  background-color: var(--ggreen);
  color: var(--wwhite);
}

.menu .box-container .box .content {
  padding: 2rem;
  padding-top: 0;
}
.menu .box-container .box .content .stars {
  padding-bottom: 1rem;
}

.menu .box-container .box .content .stars i {
  font-size: 1.7rem;
  color: var(--ggreen);
}

.menu .box-container .box .content h3 {
  color: var(--bblack);
  font-size: 2.5rem;
}

.menu .box-container .box .content p {
  color: var(--llight-color);
  font-size: 1.5rem;
  padding: 0.5rem 0;
  line-height: 1.5;
}

.menu .box-container .box .content .price {
  color: var(--ggreen);
  margin-left: 1rem;
  font-size: 2.5rem;
}

/* menu css ends  */

/* review section starts  */
.review .slide {
  padding: 2rem;
  box-shadow: var(--box-shadow);
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  position: relative;
}

.review .slide .fa-quote-right {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 6rem;
  color: #ccc;
}

.review .slide .user {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  padding-bottom: 1.5rem;
}

.review .slide .user img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  object-fit: cover;
}

.review .slide .user h3 {
  color: var(--bblack);
  font-size: 2rem;
  padding-bottom: 0.5rem;
}

.review .slide .user i {
  font-size: 1.3rem;
  color: var(--ggreen);
}

.review .slide p {
  font-size: 1.5rem;
  line-height: 1.8;
  color: var(--llight-color);
}

/* .review ends  */
/* order starts  */
.order form {
  max-width: 90rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  background: var(--wwhite);
  padding: 1.5rem;
  margin: 0 auto;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.order form .inputBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.order form .inputBox .input {
  width: 48%;
}

.order form .inputBox .input span {
  display: block;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  color: var(--llight-color);
}

.order form .inputBox .input input,
.order form .inputBox .input textarea {
  background: #eee;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.6rem;
  color: var(--bblack);
  text-transform: none;
  margin-bottom: 1rem;
  width: 100%;
  outline: none;
  border: none;
  box-sizing: border-box;
}

.order form .inputBox .input input:focus,
.order form .inputBox .input textarea:focus {
  border: 0.1rem solid var(--ggreen);
}

.order form .inputBox .input textarea {
  height: 20rem;
  resize: 20rem;
}

.order form .btn {
  margin-top: 0;
  border: none;
}
/* order ends  */
/* footer starts  */
footer {
  padding: 2rem 15rem;
}
footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

footer .box-container .box h3 {
  padding: 0.5rem 0;
  font-size: 2.5rem;
  color: var(--bblack);
}
footer .box-container .box a {
  display: block;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  color: var(--llight-color);
  transition: 0.2s;
}

footer .box-container .box a:hover {
  transition: 0.2s;
  color: var(--ggreen);
  text-decoration: underline;
}

footer .credit {
  text-align: center;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  font-size: 2rem;
  color: var(--bblack);
  padding: 0.5rem;
  padding-top: 1.5rem;
  margin-top: 1.5rem;
}
footer .credit span {
  color: var(--ggreen);
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000000;
  background: #666;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.loader-container img {
  width: 35rem;
}

.loader-container.fade-out {
  top: 110%;
  opacity: 0;
}

/* =============== media queries=========== */
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 991px) {
  html {
    font-size: 50%;
  }

  header {
    padding: 1rem 5%;
  }
  section {
    padding: 2rem 4rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 767px) {
  header .icons #menu-bars {
    display: inline-block;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--wwhite);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    /* display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; */
    /* z-index: -1; */
    /* display: none; */
    /* transition: all 3s ease-in-out; */
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active {
    /* display: block; */
    /* top: 100%;  */
    /* transition: .3s; */
    /* transition: all 3s ease-in-out; */
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  header .navbar a {
    display: block;
    padding: 1.5rem;
    margin: 1rem;
    font-size: 2rem;
    background-color: #eee;
  }

  #search-form #search-box {
    width: 90%;
    margin: 0 1rem;
  }

  /* home part  */
  .home .home-slider .slide .content h3 {
    font-size: 5rem;
  }
  .home .home-slider .slide .content {
    flex: 1 1 30rem;
  }
  .home .home-slider .slide .image {
    flex: 1 1 30rem;
  }
}

@media only screen and (max-width: 575px) {
  html {
    font-size: 50%;
  }
  .dishes .box-container .box img {
    width: 100%;
    height: auto;
  }

  .order form .inputBox .input {
    width: 100%;
  }
  footer {
    padding: 2rem 4rem;
  }
}
